.trailsText {
  position: relative;
  width: 100%;
  height: 80px;
  font-size: 6rem;
  line-height: 80px;
  color: orange;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: hidden;
}

@media (width <= 40rem){
  .trailsText{
    height: 40px;
    line-height: 40px;
    font-size: 3rem;
  }
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: start;
}


