body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  max-width: 1440px;
  padding: 0 3rem;
  margin: 0 auto;
  overflow: auto;
  align-items: flex-start;
  justify-content: center;
}

.card {
  flex: 1 1 1%;
  position: relative;
  object-fit: scale-down;
  margin-left: 5;
  margin-right: 5;
  opacity: 0.2;
  border-radius: 100px;
  transition: flex 600ms cubic-bezier(0.25, 1, 0.5, 1), opacity 250ms ease;

  &:hover {
    flex-basis: 30%;
  }

  &__inner {
    margin: 0.25rem;
    background: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  picture {
    width: 100%;
    height: 0;
    padding-bottom: 600px;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &.is-active,
  &:hover {
    opacity: 1;
  }

}
